@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* -------------- IMPORTING FONTS ---------------  */

@font-face {
  font-family: azonix;
  src: url(fonts/azonix.woff2);
}
@font-face {
  font-family: redtrap;
  src: url(fonts/redtrap.woff2);
}
@font-face {
  font-family: abc;
  src: url(fonts/abc.woff2);
}
@font-face {
  font-family: gestura;
  src: url(fonts/gestura.woff2);
}
@font-face {
  font-family: aeonik;
  src: url(fonts/aeonik.woff2);
}
@font-face {
  font-family: twk;
  src: url(fonts/twk.woff2);
}

/* --------------- DECLARING VARIABLES --------------  */

:root {
  --blue: #211f3f;
  --dark-blue: #161b2c;
  --light: #e0e6ff;
  --chocolate: #3f331f;
  --dark-brown: #2c2416;
  --steam-color: #1B2838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}


/* ---------- LOADER -----------  */

.upper-circle{
  position: absolute;
  z-index: 2;
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-55deg);
}

.clk-stripe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 2rem;
  color: white; 
  top: 50%;
}

.clk-stripe h2,  .lclk-stripe h2{
  font-size: 1.4rem;
  font-family: azonix;
}

.clk-stripe h2:nth-child(odd){
  transform: rotateZ(90deg);
}
  
.clk-stripe h2:nth-child(even){
  transform: rotateZ(-90deg);
}
  
.clk-stp1{
  transform: translateY(-50%) rotateZ(-36deg);
}
  
.clk-stp2{
  transform: translateY(-50%) rotateZ(-72deg);
}
  
.clk-stp3{
  transform: translateY(-50%) rotateZ(-108deg);
}
  
.clk-stp4{
  transform: translateY(-50%) rotateZ(-144deg);
}
  
.clk-stp5{
  transform: translateY(-50%) rotateZ(-180deg);
}





.lower-circle{
  position: absolute;
  z-index: 2;
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-180deg);
}



.lclk-stripe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 2rem;
  font-size: 2rem;
  color: white; 
  top: 50%;
}

.lclk-stripe h2:nth-child(odd){
  transform: rotateZ(-90deg);
}

.lclk-stripe h2:nth-child(even){
  transform: rotateZ(90deg);
}
  
.lclk-stp1{
  transform: translateY(-50%) rotateZ(-36deg);
}
  
.lclk-stp2{
  transform: translateY(-50%) rotateZ(-72deg);
}
  
.lclk-stp3{
  transform: translateY(-50%) rotateZ(-108deg);
}
  
.lclk-stp4{
  transform: translateY(-50%) rotateZ(-144deg);
}
  
.lclk-stp5{
  transform: translateY(-50%) rotateZ(-180deg);
}

.mid-circle{
  mix-blend-mode: multiply;
}



/* ------------ CURSORS ------------ */

.img-crsr{
  transition: all .0s ease;
  pointer-events: none;
  background-color: black;
  filter: blur(8%);
}

.category-crsr{
  pointer-events: none;
}

.inner-circle{
  background-color: #0000009e;
}


.explore-crsr{
  transition: all .0s ease;
  pointer-events: none;
}



.mg-container{
  background-color: #3034409e;
}

.vdo-btn{
  transition: all linear .2s;
}

.vdo-btn:hover{
  transform: translateX(-50%) scale(1.2);
}


.overlay{
  background-color: rgba(0, 0, 0, 0.676);
}





/* ------------ NAVIGATION MENU ------------ */

.nav-menu h1{
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: abc;
  letter-spacing: -3px;
  /* font-family: gestura; */
  font-size: 3vw;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: start;
  line-height: 3.5vw;
  padding: 0 20px 0 6px;
}

.nav-menu h1:hover{
  background-color: white;
  color: black;
}

.signin-btn{
  /* background: linear-gradient(to right, #06BFFF, #2680FF); */
  transition: all .2s ease;
}
.signin-btn:hover{
  background: linear-gradient(to right, #045773, #043478);
}



/* -------------- LANDING PAGE ------------- */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  border-radius: .5rem;
}

.swiper-slide img {
  cursor: none;
  display: block;
  width: 50vw;
  height: 70vh;
  border-radius: .5rem;
  transition: all .2s linear;
}

.swiper-slide img:hover{
  transform: scale(1.05);
}




/* ------------- CATEGORY PAGE --------------- */

.clicked-category{
  background-color: rgba(0, 0, 0, 0.551);
}
.close-cat{
  z-index: 1250;
  color: white;
  font-size: 4.5vw;
  cursor: pointer;
}

.close-cat:hover{
  color: #0b1d3d;
}

.circle{
  position: absolute;
  width: 200vh;
  height: 200vh;
  top: 50%;
  left: 190vh;
  transform: translateY(-50%) rotate(360deg); 
}


.stripe{
  /* background-color: yellowgreen; */
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  transform-origin: 100% 50%;
  width: 100%;
  height: 50px;
  display: flex;
}

.stp1{
  transform: translateY(-50%) rotate(150deg);
}

.stp2{
  transform: translateY(-50%) rotate(100deg);
}

.stp3{
  transform: translateY(-50%) rotate(50deg);
}

.stp4{
  transform: translateY(-50%) rotate(0deg);
}

.stp5{
  transform: translateY(-50%) rotate(-50deg);
}

.stp6{
  transform: translateY(-50%) rotate(-100deg);
}

.stp7{
  transform: translateY(-50%) rotate(-150deg);
}

.first{
  width: 55%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cat-img{
  width: 30vw;
  height: 45vw;
  position: relative;
  cursor: none;
  top: 50%;
  transform: translateY(-50%);
  -webkit-filter: drop-shadow(5px 15px 10px #222);
  filter: drop-shadow(5px 15px 5px #222);
}



.sec{
  position: relative;
  width: 50%;
  height: 100%;
}

.smcircle{
  position: absolute;
  left: .3vw;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 4vw;
  font-weight: bolder;
}

.first h1{
  color: black;
  font-size: 2vw;
}

.panel{
  padding: 0 1rem;
}


.panel-items{
  font-family: gestura; 
  text-transform: uppercase;
  /* color: var(--dark-blue); */
  color: white;
  font-size: 2.5vw;
  cursor: pointer;
  line-height: 3.7vw;
}


.panel-items:hover{
  color: rgb(68, 114, 132);
}


/* ------------- MORE GAMES -------------- */
.mg-vid{
  transition: all .2s ease;
  cursor: pointer;
}
.mg-vid:hover{
  scale: 1.05;
}



/* ------------ SPECIAL OFFER SECTION ------------  */

.marque-effect .move{
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: flex;
  gap: 2rem;
  padding: 0 5vw;
}
.marque-effect .move:hover{
  animation-play-state: paused;
}


.marquee-cards{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  */
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  background-color: var(--blue);
  width: 20vw;
  overflow: hidden;
  cursor: pointer;
}


@keyframes marquee{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-48%);
  }
}

.img-section{
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.marquee-cards img{
  height: 100%;
  width: 100%;
  transition: all .4s ease;
}

.marquee-cards:hover .marquee-img{
  transform: scale(1.05);
}


.blur-left{
  width: 25%;
  height: 100%;
  background-color: #111632;
  z-index: 800;
  background: linear-gradient(to right, #111632, transparent);
  pointer-events: none;
}

.blur-right{
  width: 40%;
  height: 100%;
  background-color: #111632;
  z-index: 800;
  background: linear-gradient(to left, #111632, transparent);
  pointer-events: none;
}

.offer-page{
  background: linear-gradient(to bottom, #11235A, #121528);
  
}

.offer-left{
  /* background-color: #CC7722; */
  background-color: #A1CD44;
  color: black;
}

.offer-r-top{
  background-color:  #090446;
  background-color: black;
  color: gray;
}

.offer-r-bottom{
  background-color: #FFFDF7;
}

.offer-left h1{
  font-family: twk;
 font-size: 1.5rem;
 font-weight: 600;
}

.offer-r-top p{
  font-size: .8rem;
  font-family: twk;
  text-decoration: line-through;
}

.twk-r-bottom p{
  font-family: twk;
  font-size: 1.1rem;
  font-weight: bold;
}

.offer-section{
  background: linear-gradient(220.55deg, #203c54 0%, #0b1d3d 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.offer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}






/* ------------------------- STEAM GIFT CARDS SECTION --------------------------- */

.steam-gc-img{
  -webkit-filter: drop-shadow(2px 2px 5px #104E73);
  filter: drop-shadow(2px 1px 5px #4e87a8);
  transition: all linear .2s;
}
.steam-gc-img:hover{
  transform: scale(1.02);
  transform-origin: center;
}

.steam-gift-cards{
  /* background: linear-gradient(to bottom, #104E73, #1B2838); */
  /* background: linear-gradient(to right, #121825, #111428); */
  /* background: linear-gradient(to right, #121825, #111428); */
  background: linear-gradient(to right, #131F57, #111428);
  overflow: hidden;
}
.slide-stripe{
  background: linear-gradient(to right, #131F57, #111428);
}

.explore-title{
  text-shadow: 3px 3px 2px rgba(6, 0, 0, 1);
}


.left-cont img, .right-cont img{
  position: absolute;
  width: 280px;
  top: 60%;
  transform: translateY(-50%);
  /* transition: all .3s ease-in; */
  -webkit-filter: drop-shadow(5px 15px 10px #222);
  filter: drop-shadow(5px 5px 5px #222);
}



@keyframes fadeLastImg {
  0%{
      opacity: 1;
  }
  100%{
      opacity: .3;
  }
  
}

.card1{
  height: 35%;
  right: 65%;
  border-radius: 10px;
  z-index: 0;
  transition: all .3s ease-in;
  opacity: .3;
  animation-name: fadeLastImg;
  animation-duration: .3s;
}


.card2{
  height: 45%;
  right: 60%;
  border-radius: 10px;
  z-index: 1;
  transition: all .3s ease-in;
}

.card3{
  height: 55%;
  right: 45%;
  border-radius: 10px;
  z-index: 2;
  transition: all .3s ease-in;
}

.card4{
  height: 65%;
  right: 30%;
  border-radius: 10px;
  z-index: 3;
  transition: all .3s ease-in;
}

.card5{
  height: 75%;
  right: 15%;
  border-radius: 10px;
  z-index: 4;
  transition: all .3s ease-in;
}

.card6{
  height: 85%;
  right: 0;
  z-index: 5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all .05s ease-in;
  float: right;
  animation-name: splitOutLeft;
  animation-duration: .4s;
}


@keyframes splitOutLeft{
  0%{
      width: 0%;
  }
  100%{
      width: 280px;
  }
}





.rcard1{
  height: 35%;
  left: 65%;
  z-index: 0; 
  border-radius: 10px;
  transition: all .3s ease-in;
  opacity: .3;
  animation-name: fadeLastImg;
  animation-duration: .3s;
}


.rcard2{
  height: 45%;
  left: 60%;
  z-index: 1;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard3{
  height: 55%;
  left: 45%;
  z-index: 2;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard4{
  height: 65%;
  left: 30%;
  z-index: 3;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard5{
  height: 75%;
  left: 15%;
  z-index: 4;
  border-radius: 10px;
  transition: all .3s ease-in;
}

.rcard6{
  height: 85%;
  left: 0;
  z-index: 5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .05s ease-in;
  animation-name: splitOutLeft;
  animation-duration: 0.3s;
}



.slice-right h3{
  /* background: linear-gradient(to right, #075985, #0369A1); */
  /* background-color: rgba(0, 0, 0, 0.642); */
  /* background-color: #A1CD44; */
  opacity: 0.8;

}








/* -------------------- EXPLORE MORE SECTION ---------------------- */
.exp-titles{
  font-size: 1.7vw;
  color: #D4D4D8;
  font-family: twk;
  cursor: pointer;
}
.exp-titles:hover{
  border-bottom: 2px solid #d4d4d8;
}


.active-title{
  font-size: 2.2vw;
  color: var(--dark-blue);
  background-color: white;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 4px;
  /* border-bottom: 2px solid white; */
  border: 2px solid white;
  letter-spacing: -2px;
  
}


.explore-page{
  background: linear-gradient(to right, #121825, #111428);
}

.selected-section{
  transition: all .4s linear;
}


.slice{
  width: 100%;
  height: 25vh;
  border-top: 1px solid rgb(118, 118, 118);
  transition: all .2s linear;
  /* background: rgba(35, 31, 31, 0.107); */
  position: relative; 
  transform: scale(1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw;
  overflow: hidden;
  /* border-radius: 10px; */
  z-index: 100;
}
.slice::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 100%;
  left: 0;
  background-position: center;
  transition: all 0.2s ease;
  background-size: cover;
}
.slice-title{
  font-family: gestura;
  text-transform: uppercase;
}
.slice-overlay{
  position: absolute;
  width: 100%;
  /* height: 100%; */
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.264);
  z-index: -1;
}

.slice:hover .slice-overlay{
  height: 100%;
}

.slice-img{
  width: 20rem;
  height: 14rem;
  border-radius: 2px;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  transition: all .2s linear;
} 

.slice-badge span{ 
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}


.slimg1{
  width: 13rem;
  height: 20rem;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  transition: all .2s linear;
}


.slice:hover{
  background-size: cover;
  color: #000;
  padding: 0 3rem;
  border: none;
}

.slice:hover .slice-img{
  transform: translateX(-50%) scale(1.15);
} 
.slice:hover .slimg1{
  transform: translateX(-50%) scale(1.15);
} 

.slice-left-r p{
  display: flex;
  gap: 5px;
}

.slice-left-r p span{
  font-family: gilroy;
  font-weight: bold;
  /* color: #022C22; */
  
  background-color: #22C55E;
  padding: 2px 6px;
}

.slice:hover::after{
  top: 0;
}

.nt-slice:nth-child(1)::after{
  background-image: url(images/explore-images/ntimg1.webp);
}

.nt-slice:nth-child(2)::after{
  background-image: url(images/explore-images/ntimg2.webp);
}

.nt-slice:nth-child(3)::after{
  background-image: url(images/explore-images/ntimg3.webp);

}

.nt-slice:nth-child(4)::after{
  background-image: url(images/explore-images/ntimg4.webp);
}

.nt-slice:nth-child(5)::after{
  background-image: url(images/explore-images/ntimg5.webp);
}

.nt-slice:nth-child(6)::after{
  background-image: url(images/explore-images/ntimg6.webp);
}


/* ---- top seller section ----  */

.ts-slice:nth-child(1)::after{
  background-image: url(images/explore-images/tsimg1.webp);
}

.ts-slice:nth-child(2)::after{
  background-image: url(images/explore-images/tsimg2.webp);
}

.ts-slice:nth-child(3)::after{
  background-image: url(images/explore-images/ntimg2.webp);
}

.ts-slice:nth-child(4)::after{
  background-image: url(images/explore-images/tsimg4.webp);
}

.ts-slice:nth-child(5)::after{
  background-image: url(images/explore-images/tsimg5.webp);
}

.ts-slice:nth-child(6)::after{
  background-image: url(images/explore-images/ntimg5.webp);
}

.pu-slice:nth-child(1)::after{
  background-image: url(images/explore-images/puimg1.webp);
}

.pu-slice:nth-child(2)::after{
  background-image: url(images/explore-images/tsimg5.webp);
}

.pu-slice:nth-child(3)::after{
  background-image: url(images/explore-images/puimg3.webp);
}

.pu-slice:nth-child(4)::after{
  background-image: url(images/explore-images/puimg4.webp);
}

.pu-slice:nth-child(5)::after{
  background-image: url(images/explore-images/puimg5.webp);
}

.pu-slice:nth-child(6)::after{
  background-image: url(images/explore-images/ntimg5.webp);
}
.s-slice:nth-child(1)::after{
  background-image: url(images/explore-images/simg1.webp);
}

.s-slice:nth-child(2)::after{
  background-image: url(images/explore-images/simg2.webp);
}

.s-slice:nth-child(3)::after{
  background-image: url(images/explore-images/ntimg4.webp);
}

.s-slice:nth-child(4)::after{
  background-image: url(images/explore-images/simg4.webp);
}

.s-slice:nth-child(5)::after{
  background-image: url(images/explore-images/simg5.webp);
}

.s-slice:nth-child(6)::after{
  background-image: url(images/explore-images/simg6.webp);
}



/* ------------------------- FOOTER ------------------------- */

.footer-title span{
  font-family: aeonik;
  position: relative;

}

.footer-bottom{
  cursor: pointer;
}

.footer-bottom h1::selection{
  background-color: black;
  color: white;
}

.footer-circle{
  top: 0;
  left: 0;
  mix-blend-mode:darken;
  transform: translate(-50%, -50%) scale(0);
}

.navicon{
  margin-right: 1rem;
  font-size: 2.8rem;
}

.nav-overlay{
  /* background-color: #0c4a6e97; */
  background-color: #84bbd2c5;
}

.overlay-grain-pattern.overlay-grain-basic {
  opacity: .03;
  mix-blend-mode: normal;
  filter: contrast(2);
  background-size: 5em;
}

.overlay-grain-pattern {
  opacity: .5;
  pointer-events: none;
  mix-blend-mode: overlay;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url(images/gr.jpg);
  /* background-color: red; */
  background-position: 50%;
  background-size: 5vw;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



/* ---------------------- RESPONSIVENESS ------------------------ */
@media screen and (max-width: 800px) and (min-width: 600px) {
  .circle{
    left: 80%;
  }
}
@media screen and (max-width: 600px) {
  .slice-badge span{ 
    font-size: .6rem;
  }
  .cat-img{
    width: 50vw;
    height: 40vh;
  }
  .circle{
    left: 85%;
  }
  .panel-items{

    font-family: gestura;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 3vh;
    line-height: 3.1vh;
    padding: .3rem 0;
  }
  .upper-circle{
    top: 38%;
    width: 25vh;
    height: 25vh;
  }
  .lower-circle{
    top: 62%;
    width: 25vh;
    height: 25vh;
  }
  .nav-menu h1{
    font-size: 4vh;
    line-height: 10vw;
  }
  .swiper-slide {
    width: 80vw;
    height: 30vh;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  #first,
  #second,
  #third {
    flex-direction: column;
    gap: 1rem;
  }
  .cards h1{
    font-size: 1.8rem;
    
  }
  .left-cont img, .right-cont img{
    width: 200px;
  }
  @keyframes splitOutLeft{
    0%{
        width: 0%;
    }
    100%{
        width: 200px;
    }
  }

  .exp-titles{
    font-size: 3.5vw;
    text-align: center;
  }
  .active-title{
    font-size: 3.7vw;
    letter-spacing: .2px;
    
  }
  .slice{
    height: 15vh;
    width: 100%;
  }
  
  .marquee-cards{
    width: 60vw;
    height: 70%;
  }
  .blur-left{
    width: 5%;
  }
  .blur-right{
    width: 5%;
  }
  .footer-top a{
    font-size: 3.6vw;
  }
  .valve-links a{
    font-size: 2.8vw;
    text-align: center;
  }
  .offer h1{
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .offer p{
    font-size: .8rem;
    font-weight: bold;
  }
  .footer-title span{
    font-size: 25vw;
  }


}



@media screen and (min-width: 600px) and (max-width: 800px) {
  .swiper-slide {
    width: 50vw;
    height: 50vh;
  }
  
  .swiper-slide img {
    width: 50vw;
    height: 50vh;
  }
}

